:root{
  --cor-0:#FFFFFF;
  --cor-1:#F7F7F7;
  --cor-2:#E0E0E0;
  --cor-3:#D9D7D7;
  --cor-4:#CCCCCC;
  --cor-5:#B2B0B0;
  --cor-6:#9C9A9A;
  --cor-7:#706F6F;
  --cor-8:#595858;
  --cor-9:#403F3F;
  --cor-10:#2E2D2D;
  --cor-11:#111111;
  --cor-12:#000000;
  --cor-p1:#74DF4C;
  --cor-p2:#64BE43;
  --cor-p3:#3E8923;
  --cor-p4:#1D430F;
  --cor-p5:#112709;
}