body{
  margin: 0;
  height:5000px;
}

header{
  background-image: url("../../img/fotos/header.jpg");
  background-repeat: no-repeat;
  height: 790px;
  max-width: 100%;
}
.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  flex-wrap: wrap;
}
.menu-header{
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}
a{
  text-decoration: none;
  color: initial;
}
.menu-header a {
  display: block;
}
.menu-header a:hover {
   transition:all 0.4s ease 0s;
   transform:scale(1.2);
}
.header-info{
 display: flex;
 flex-direction: column;
 max-width: 1180px;
 margin: 0 auto;
 padding-left: 20px;
 padding-top: 60px;
}
.conteudo-header{
  width: 50%;
}

.header-info p{
  padding-top: 20px;
  padding-bottom: 40px;
}
@media(max-width:1000px){
  header{
    background-image: url("../../img/fotos/header.jpg");
    background-position: center;
    max-width: 100%;
  }
}
@media(max-width:900px){
  
  .header-info h1{
    font-size: 60px;
  }
  .header-info p{
    font-size: 24px;
  }
  .botao{
    font-size: 18px;
  }
  
  header{
    background-image: url("../../img/fotos/header.jpg");
    background-position: center;
    background-size: cover;
    max-width: 100%;
  }
  .menu-header{
    gap:20px;
  }
  .logo{
    width: 350px;
  }
  .menu-header a{
    font-size: 20px;
  }
  .logo{
    width: 300px;
  }
} 
@media(max-width:750px){
  .menu-header{
    gap: 12px;
  }
  .header-info h1{
    font-size:60px;
  }
  .header-info p{
    font-size: 20px;
  }
  .botao{
    font-size: 14px;
  }
  .menu-header a{
    font-size: 16px;
  }
  .menu-header a:hover {
    transition:all 0.4s ease 0s;
    transform:scale(1.1);
 }
@media(max-width:650px){
  header{
    background-image: url("../../img/fotos/headermm.jpg");
    background-position: center;
    height: 600px;
  }
  .header-info{
    align-items: start;
    padding-top: 40px;
  }
  .header-info h1{
    font-size: 32px;
  }
  .header-info p {
    font-size: 18px;
  }
  .menu-header{
    gap: 20px;
    flex-wrap: wrap;
  }
  .menu-header a{
    font-size: 16px;
  }
  .conteudo-header{
    width: auto;
  }
}
}
  




