.cardapio-corpo{
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  
}
.cardapio-corpo li{
  background: var(--cor-10);
  border-radius: 50%;
  padding: 10px 10px;
  height: 40px;
  width: 40px;
}
.cardapio-corpo ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px 70px;
  margin-bottom: 30px;
  
}
.espaco{
  padding-top: 160px;
  padding-bottom: 160px;
}
.bg-cor{
  background: linear-gradient(to right,var(--cor-0) 30%,var(--cor-11) 0);
}
.bg-cor2{
  background: linear-gradient(to left,var(--cor-0) 30%,var(--cor-11) 0);
  margin-top: 40px;
  margin-bottom: 40px;
}
.aviso-dog{
  display: flex;
  gap: 10px;
}
.aviso-dog{
align-items: center;
margin-bottom: 20px;
}
.cardapio-conteudo{
  padding-bottom: 40px;
}
.cardapio-conteudo h2{
  margin-bottom: 40px;
  padding-top: 20px;
}
.cardapio-conteudo h2::before{
    content: '';
    display: inline-block;
    width: 7px;
    height: 50px;
    background: var(--cor-p1);
    position: relative;
    top: 5px;
    left: -4px;
}
.cardapio-img img{
  position: absolute;
  top: 0px;
  bottom: 0px;
  margin: auto;
  max-width: 100%;
}

.patas-b{
  background: url("../../img/patas.svg") no-repeat top 2450px right 0px;
}
.patas-b-c{
  background: url("../../img/pata-c.svg") no-repeat top 20px left 0px;
}

@media(max-width:1150px){
  .bg-cor{
    background: var(--cor-11);
  }
  .bg-cor2{
    background: var(--cor-11);
  }
  .cardapio-corpo{
    grid-template-columns: 1fr;
  }
  .cardapio-img img{
    display: block;
    position: inherit;
    width: 70%;
  }
  .cardapio-img-c{
   order: -1;
  }
  .cardapio-corpo ul{
    gap: 20px 35px;
  }
  .menu-header-v2{
    gap: 18px;
  }
  .espaco{
    padding-bottom: 0px;
  }
}
@media(max-width:650px){
  .cardapio-corpo ul{
    grid-template-columns: 1fr 1fr 1fr;
  }
  .cardapio-conteudo h2{
    font-size: 48px;
  }
  .botao{
    padding: 16px 60px;
  }
  .header-cardapio h1::before{
    content: '';
    display: inline-block;
    width: 5px;
    height: 25px;
    background: var(--cor-p1);
    position: relative;
    top: 5px;
    left: -4px;
  }
  .header-cardapio h1{
    font-size: 22px;
  }
}