.cardapio-corpo{
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  
}
.cardapio-corpo li{
  background: var(--cor-10);
  border-radius: 50%;
  padding: 10px 10px;
}
.cardapio-corpo ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px 70px;
  margin-bottom: 30px;
  
}
.espaco{
  padding-top: 160px;
  padding-bottom: 160px;
}
.bg-cor{
  background: linear-gradient(to right,var(--cor-0) 30%,var(--cor-11) 0);
}
.bg-cor2{
  background: linear-gradient(to left,var(--cor-0) 30%,var(--cor-11) 0);
  margin-top: 40px;
  margin-bottom: 40px;
}
.aviso-dog{
  display: flex;
  gap: 10px;
}
.aviso-dog{
align-items: center;
margin-bottom: 20px;
}
.cardapio-conteudo{
  padding-bottom: 40px;
}
.cardapio-conteudo h2{
  margin-bottom: 40px;
  padding-top: 20px;
}
.cardapio-conteudo h2::before{
    content: '';
    display: inline-block;
    width: 7px;
    height: 50px;
    background: var(--cor-p1);
    position: relative;
    top: 5px;
    left: -4px;
}
.cardapio-img img{
  position: absolute;
  top: 0px;
  bottom: 0px;
  margin: auto;
  max-width: 100%;
}
.patas-b{
  background: url("../../img/patas.svg") no-repeat top 2500px right 0px;
}
.patas-b-c{
  background: url("../../img/pata-c.svg") no-repeat left 20px left 0px;
}
