.bg-headerDescri{
  background: var(--cor-11);
  padding-bottom: 40px;
  padding-top: 40px;
}
.header-cardapio{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-cardapio h1{
  flex-wrap: wrap;
  
}
.header-cardapio h1::before{
  content: '';
  display: inline-block;
  width: 7px;
  height: 50px;
  background: var(--cor-p1);
  position: relative;
  top: 5px;
}
.header-cardapio-image img{
  width: 100%;
  height: auto;
  display: block;
}

.menu-header-v2{
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.menu-v2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  flex-wrap: wrap;
}

@media(max-width:1050px){
  .header-cardapio h1{
    font-size: 48px;
    flex-wrap: wrap;
  } 
}
@media(max-width:850px){
  .header-cardapio h1{
    font-size: 36px;
    flex-wrap: wrap;
  } 
}
@media(max-width:650px){
  .header-cardapio h1{
    font-size: 28px;
    flex-wrap: wrap;
  } 
}
@media(max-width:500px){
  .header-cardapio h1{
    font-size: 18px;
    flex-wrap: wrap;
  } 
  .menu-header-v2 a{
    font-size: 15px;
  }
}

