.caixa{
  padding-top: 160px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  padding-bottom: 80px;
}
.caixa-dentro{
  background: linear-gradient(#4AB622 21.88%, #76F248 94.27%) ;
  max-width: 100%;
  height: 350px;
  border-radius: 5px;
}
.patas{
  background: url("../../img/patas.svg") no-repeat top 525px right 0px;
}
.caixa-texto{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.caixa-texto span{
  margin-right: 16px;
}
.caixa-texto p{
  position: relative;
    bottom: 46px;
    padding: 12px 12px;
    line-height: 1.5;
    text-align: start;
}
.comentario{
  font-weight: bold;
}
.caixa-dentro img{
  max-width: 100%;
  height: auto;
  position: relative;
  bottom: 80px;
  left: 90px;
}
@media(max-width:1100px){
  .caixa-dentro img{
    width: 50%;
    left: 80px;
    bottom: 60px;
  }
}
@media(max-width:950px) {
  .caixa-dentro img{
    width: 50%;
    left: 70px;
    bottom: 60px;
  }
  }

@media(max-width:900px){
  .caixa{
    grid-template-columns: 1fr;
    gap: 100px;
  }
  .caixa-dentro{
    height: 300px;
  }
  .caixa-dentro img{
    width: 25%;
    left: 300px;
    bottom: 80px;
  }
}
@media(max-width:800px) {
  .caixa-dentro img{
    width: 25%;
    left: 250px;
    bottom: 60px;
  }
  }
  @media(max-width:650px) {
    .caixa-dentro img{
      width: 25%;
      left: 230px;
      bottom: 60px;
    }
    }
    @media(max-width:550px) {
      .caixa-dentro img{
        width: 25%;
        left: 180px;
        bottom: 60px;
      }
      }
      @media(max-width:500px) {
        .caixa-dentro img{
          width: 25%;
          left: 170px;
          bottom: 60px;
        }
        }