.caixa{
  padding-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}
.caixa-dentro{
  background: linear-gradient(#4AB622 21.88%, #76F248 94.27%);
  width: 360px;
  height: 400px;
  border-radius: 5px;
}
.caixa-dentro p{
  padding: 12px 24px;
}
.comentario{
  font-weight: bold;
  font-size: 24px;
}
.caixa-dentro img{
  position: relative;
  bottom: 80px;
  left: 90px;
}