
.caixar-animal{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  position: relative;
  top: -40px;
  overflow-x: auto;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 120px;
}
.animal-card{
  background: var(--cor-p1);
  height: auto;
  border-radius: 5px;
  max-width: 100%;
  min-width: 250px;
  border: solid black;
  
}
.texto-animal{
 padding: 40px 10px;
 text-align: center;
}
.texto-animal p {
  text-align: start;
  font-size: 18px;
}
.texto-animal img{
  padding-bottom: 20px;
}
.texto-animal h2{
  padding-bottom: 20px;
  font-weight: bold;
}
.texto-animal a{
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  font-family: "Work Sans";
  margin-top: 20px;
}
.texto-animal a:hover{
  color: var(--cor-0);
}
.texto-animal a::after{
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: currentColor;
}

@media(max-width:850px){
  .caixar-animal{
    grid-template-columns: 1fr;
    padding-bottom: 40px;
  }
  .animal-card{
    margin-left: 25px;
    margin-right: 25px;
  }
}
